@import "normalize/normalize";
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";
@import "animate/animate";

/*! Syntax highlighting */

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/*! Base */

body {
	background-image: #F5F4F1;
}

header[role="banner"] {	
	@include outer-container;
	h1 {
    margin: 20px 0;
		text-align: center;
    img {
      width: 200px;

      @include media($medium-screen-up) {
        width: 250px;
      }
    }
	}
}

footer[role="contentinfo"] {
  border-top: 1px solid #ccc;
	padding: 10px 20px 0;
	text-align: center;
  p {
    font-size: 0.9em;
  }
	@include outer-container;  
	@include media($medium-screen-up) {
		p {
			@include span-columns(2 of 4);
		}
		p.copy {
			text-align: left;
		}
		p.marketing {
			text-align: right;
		}
	}
	@include media($large-screen-up) {
		p {
			@include span-columns(4 of 8);
		}
	}
}

dl code, p code, ol code, ul code {
	padding: 0px 5px 2px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	color: #666666;
	display: inline-block;
}

.wrapper {
  @include outer-container;
}

/*! Home */

.home-container {
	background-image: url("../img/plaid.jpg");
	padding-top: 40px;
	border-top: 1px solid darken(#7A3420, 20%);
}

.call {
	@include outer-container;
	h2 {
		text-align: center;
		font-size: 20px;
		color: #f8f8f8;
    margin: 0 20px 40px;
		span {
			@include animation-duration(2s);
			color: darken(#FF851B, 5%);
			border-bottom: 1px solid #f8f8f8;
			display: inline-block;
			opacity: 0;
			&.noun {
				width: 100px;
			}
			&.verb {
				width: 70px;
			}
		}
	}
	nav {
		margin-bottom: 60px;
		@include outer-container;
    ul {
      margin: 0 20px;
    }
		li:last-child a {
			@include button(simple, #eee);
			display: block;
			text-align: center;
			text-transform: uppercase;
		}
		li a {			
			@include button(simple, #FF851B);
			display: block;
			text-align: center;
			text-transform: uppercase;
		}
		li {
			@include span-columns(1 of 2);
		}
		@include media($medium-screen-up) {
			@include shift(1 of 4);
			@include span-columns(2 of 4);
			li {
				@include span-columns(1 of 2);
			}
		}
		@include media($large-screen-up) {
			@include shift(2 of 8);
			@include span-columns(4 of 8);
			li {
				@include span-columns(2 of 4);
			}
		}
	}	
}

.highlight {
	padding: 1em;
	margin-bottom: 0.75em;
	pre {
		margin: 0;
	}
}

.browser-preview {
	@include outer-container;

	.browser-chrome {
		background-image: url('../img/browser-frame.png');	
		height: 22px;
	  border-radius: 5px 5px 0 0;
    margin: 0 20px;
	}
	
	.highlight {
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
		background: #F8F8F8;
    margin: 0 20px -100px;
		border-radius: 0 0 5px 5px;
	}
}

.questions {
	margin-top: 120px;
	@include outer-container;	
	max-width: 45em;
  dl {
    margin: 0 20px;
  }
	dt {
		margin-bottom: 1em;
	}
	dd {
		margin-bottom: 2em;
	}
}

/*! Docs */

.docs {
	background: #F9F8F6;
  .highlight {
    border: 1px solid #ddd;
  }
}

.docs nav {
	display: none;
	@include media($medium-screen-up) {
		display: block;
		background: #fefefe;
		height: 100vh;
		max-height: 100%;
		width: 200px;
		position: relative;
		float: left;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		overflow-y: scroll;
		padding: 20px;
	}

  ul {
    margin-bottom: 1em;
    font-size: 0.9em;
    li, a {
      display: block;
    }
  }

  & > ul > li > a {
    color: #888;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;

    &:hover {
      color: #333;
    }
  }
}

.docs main {
	height: 100vh;
	@include media($medium-screen-up) {
		overflow-y: scroll;
		max-height: 100%;
		width: calc(100% - 200px);
		float: left;
	}
}

.docs article {
	padding: 0 20px;
  @include media($medium-screen-up) {
    padding: 0 40px;
  }
  h1 {
    color: #333;
    padding-top: 0.5em;
    margin-bottom: 0.75em;
  }
  h2 {
    border-top: 1px solid #ccc;
    padding-top: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: #666;
    &:before {
      content: "# ";
      color: #888;
    }
  }
  h3 {
    margin-bottom: 0.75em;
    color: #666;
  }
  ul, ol, p {
		margin-bottom: $base-line-height;
  }
	ul, ol {
		padding-left: 20px;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: decimal;
	}
  ul:first-of-type {
		list-style: none;
    padding-left: 0;
    li:before {
      content: "# ";
      padding-right: 5px;
      color: #888;
    }
  }
}



