<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <title>Burly | A WordPress framework written for designers</title>
	  <link rel="stylesheet" href="/assets/css/style.css">
	  <script src="/assets/js/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="docs">
	  <nav>
      <ul>
        <li>
          Preface
          <ul>
            <li><a href="/docs/quickstart.html">Quickstart</a></li>
          </ul>
        </li>
        <li>
          User Guide
          <ul>
            <li><a href="/docs/introduction.html">Introduction</a></li>
            <li><a href="/docs/assets.html">Assets</a></li>
            <li><a href="/docs/routing.html">Routing</a></li>
            <li><a href="/docs/editing.html">Editing</a></li>
            <li><a href="/docs/partials.html">Partials</a></li>
          </ul>
        </li>
        <li>
          Reference
          <ul>
            <li><a href="/docs/reference.html#burlyText">burlyText</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyTextArea</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyEditor</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyImage</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyFile</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyRepeater</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyGroup</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyTitle</a></li>
            <li><a href="/docs/reference.html#burlyText">burlyIsPage</a></li>
          </ul>
        </li>
      </ul>
	  </nav>
	  <main>
		  <div class="docs-container">
			  <header role="banner">
				  <h1><a href="/"><img src="/assets/img/logo.png"/></a></h1>
			  </header>
			  <article>
				  {{content}}
			  </article>
			  <footer role="contentinfo">
				  <p class="copy">Copyright &copy; 2014 Elbongurk, LLC</p>
				  <p class="marketing">e An <a href="http://elbongurk.com">Elbongurk</a> Endeavour</p>
			  </footer>
		  </div>
	  </main>
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
	  <script src="/assets/js/script.js"></script>
  </body>
</html>
