<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <title>{{ page.title }} | Burly Documentation</title>
	  <link rel="stylesheet" href="/assets/css/style.css">
	  <script src="/assets/js/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="docs">    
	  <nav>
      <ul>
        <li>
          <a href="/docs/quickstart.html">Quickstart</a>
          <ul>
            <li><a href="/docs/quickstart.html#requirements">Requirements</a></li>
            <li><a href="/docs/quickstart.html#install-burly">Installing Burly</a></li>
            <li><a href="/docs/quickstart.html#create-theme">Creating your Theme</a></li>
            <li><a href="/docs/quickstart.html#install-theme">Installing your Theme</a></li>
            <li><a href="/docs/quickstart.html#create-page">Creating a Page</a></li>
            <li><a href="/docs/quickstart.html#edit-content">Editing Content</a></li>
          </ul>
        </li>
        <li>
          <a href="/docs/reference.html">Reference</a>
          <ul>
            <li><a href="/docs/reference.html#burly-text">burlyText</a></li>
            <li><a href="/docs/reference.html#burly-textarea">burlyTextArea</a></li>
            <li><a href="/docs/reference.html#burly-editor">burlyEditor</a></li>
            <li><a href="/docs/reference.html#burly-image">burlyImage</a></li>
            <li><a href="/docs/reference.html#burly-file">burlyFile</a></li>
            <li><a href="/docs/reference.html#burly-group">burlyGroup</a></li>
            <li><a href="/docs/reference.html#burly-repeater">burlyRepeater</a></li>
            <li><a href="/docs/reference.html#burly-title">burlyTitle</a></li>
          </ul>
        </li>
      </ul>
	  </nav>
	  <main>
		  <div class="wrapper">
			  <header role="banner">
				  <h1><a href="/"><img src="/assets/img/logo.png"/></a></h1>
			  </header>
			  <article>
				  {{content}}
			  </article>
			  <footer role="contentinfo">
				  <p class="copy">Copyright &copy; 2014 Elbongurk, LLC</p>
				  <p class="marketing">An <a href="http://elbongurk.com">Elbongurk</a> Endeavour</p>
			  </footer>
		  </div>
	  </main>
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
	  <script src="/assets/js/script.js"></script>
  </body>
</html>
